<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>London hotel room view</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/site.css}" rel="stylesheet" />
</head>

<body>

	<h1>Product list</h1>

	<table>
		<tr>
			<th>Room Id</th>

			<th>Name</th>

			<th>Bed Info</th>

			<th>Room Number</th>
		</tr>
		<tr th:each="room : ${rooms}">

			<td th:text="${room.id}"></td>
			<td th:text="${room.name}"></td>
			<td th:text="${room.info}"></td>
			<td th:text="${room.number}"></td>
		</tr>
	</table>
</html>